<article class="page">
  <header>
    <h2 id="page-{{.Page.File.UniqueID}}-title">
      <a href="{{.Permalink}}">{{.Title}}</a>
    </h2>
    {{partial "partials/page/meta" .}}
  </header>
  <nav aria-labelledby="page-{{.Page.File.UniqueID}}-title">
    {{partial "partials/fragment" (printf "page-%s-title" .Page.File.UniqueID)}}
  </nav>
  <p>{{.Summary}}</p>
  <footer>
    {{with .Pages}}
    <h3>Sub-pages</h3>
    <ul>
      {{range .}}
      <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      {{end}}
    </ul>
    {{end}}
  </footer>
</article>
