{{if (or 
	(ne nil .Params.unit)
	(ne nil .Params.lesson)
	(ne nil .Params.chapter)
	(ne nil .Params.section)
)}}
<span class="position">
  <code>
    <span class="unit">{{- with .Params.unit}}u{{if eq . -1}}*{{else}}{{.}}{{end}}{{end}}</span><span class="lesson">
      {{- with .Params.lesson}}l{{if eq . -1}}*{{else}}{{.}}{{end}}{{end}}</span>,<span class="chapter">
      {{- with .Params.chapter}}c{{if eq . -1}}*{{else}}{{.}}{{end}}{{end}}</span><span class="section">
      {{- with .Params.section}}s{{if eq . -1}}*{{else}}{{.}}{{end}}{{end}}</span>
  </code>
</span>
{{end}}
