{{$id := printf "%s%d" (delimit (shuffle (seq 1 9)) "") now.UnixNano}} {{with (.Get "id")}}{{$id = .}}{{end}}
{{$root := (split .Inner "\n\n\n")}}
{{$qas := (split (index $root 0) "\n\n")}}
{{$expl := (index $root 1)}}
<div id="quiz-{{$id}}" class="quiz">
  <a href="#quiz-{{$id}}"><b>Quiz</b></a><br />
  <noscript> The quiz requires JavaScript to validate the answer(s). </noscript>
  {{index $qas 0 | markdownify}}
  <br />
  <ol>
    {{range $i, $qa := $qas}}
    {{if ne $i 0}}
    {{$qa2 := (split $qa "\n")}} {{$q := 0}} {{$a := 0}}
    {{if eq $i 0}} {{$q = (index $qa2 1)}} {{$a = (index $qa2 2)}}
    {{else}} {{$q = (index $qa2 0)}} {{$a = (index $qa2 1)}}
    {{end}}
    {{$h := sha256 $a}}
    <li>
      <label for="quiz-{{$id}}-i{{$i}}">{{$q | safeHTML}}</label>
      <input id="quiz-{{$id}}-i{{$i}}" />
      <span id="quiz-{{$id}}-s{{$i}}" role="status"></span>
      <noscript>The SHA-256 hash of the answer is <pre>{{$h}}</pre>.</noscript>
      <br />
    </li>
    {{end}}
    {{end}}
  </ol>
  Final answer code: <code><span id="quiz-{{$id}}-total" role="status"><i>enter an answer</i></span></code>
  {{if ne $expl nil}}
    <details>
    <summary>{{i18n "explanation"}}</summary>
      {{$expl | markdownify}}
    </details>
  {{end}}
  <script type="module">
    import { quiz, quizzes } from "/mpm2dp-0a/js/quiz.js";

    const page = '{{$.Page.Permalink}}';

    {{range $i, $qa := $qas}}
    {{if ne $i 0}} {{$qa2 := (split $qa "\n")}} {{$q := 0}} {{$a := 0}}
    {{if eq $i 0}} {{$q = (index $qa2 1)}} {{$a = (index $qa2 2)}}
    {{else}} {{$q = (index $qa2 0)}} {{$a = (index $qa2 1)}}
    {{end}}
    {{$h := sha256 $a}}
    {{$var := printf "quiz_%s_i%d" $id $i | safeJS}}
    const {{$var}} = document.getElementById("quiz-{{$id}}-i{{$i}}");
    {{$var}}.addEventListener('input', quiz({{$id}}, {{$i}}, "{{$h}}", page));
    {{end}}
    {{end}}

    {{$var2 := printf "quiz_%s" $id | safeJS}}
    const {{$var2}} = [
    {{range $i, $qa := $qas}}
    {{if ne $i 0}}
    {{$qa2 := (split $qa "\n")}} {{$q := 0}} {{$a := 0}}
    {{if eq $i 0}} {{$q = (index $qa2 1)}} {{$a = (index $qa2 2)}}
    {{else}} {{$q = (index $qa2 0)}} {{$a = (index $qa2 1)}}
    {{end}}
    {{$var := printf "quiz_%s_i%d" $id $i | safeJS}}
    {{$var}},
    {{end}}
    {{end}}
    ];

    {{range $i, $qa := $qas}}
    {{if ne $i 0}}
    {{$qa2 := (split $qa "\n")}} {{$q := 0}} {{$a := 0}}
    {{if eq $i 0}} {{$q = (index $qa2 1)}} {{$a = (index $qa2 2)}}
    {{else}} {{$q = (index $qa2 0)}} {{$a = (index $qa2 1)}}
    {{end}}
    {{$var := printf "quiz_%s_i%d" $id $i | safeJS}}
    {{$var}}.addEventListener('input', quizzes({{$var2}}, document.getElementById("quiz-{{$id}}-total"), {{$id}}, page));
    {{end}}
    {{end}}
  </script>
</div>
