{{$id := printf "%s%d" (delimit (shuffle (seq 1 9)) "") now.UnixNano}}
{{with (.Get "id")}}{{$id = .}}{{end}}
<div id="quiz-{{$id}}" class="quiz">
	<a href="#quiz-{{$id}}"><b>Quiz</b></a>
	<label for="quiz-{{$id}}-input">Your Answer</label>
	<input id="quiz-{{$id}}-input">
	<input id="quiz-{{$id}}-submit" type="button" value="Check">
	<a id="quiz-{{$id}}-submit">Next Part</a>
	<script>
const cyrb53 = function(str, seed = 0) {
    let h1 = 0xdeadbeef ^ seed, h2 = 0x41c6ce57 ^ seed;
    for (let i = 0, ch; i < str.length; i++) {
        ch = str.charCodeAt(i);
        h1 = Math.imul(h1 ^ ch, 2654435761);
        h2 = Math.imul(h2 ^ ch, 1597334677);
    }
    h1 = Math.imul(h1 ^ (h1>>>16), 2246822507) ^ Math.imul(h2 ^ (h2>>>13), 3266489909);
    h2 = Math.imul(h2 ^ (h2>>>16), 2246822507) ^ Math.imul(h1 ^ (h1>>>13), 3266489909);
    return 4294967296 * (2097151 & h2) + (h1>>>0);
};
		const correctHash = '{{.Get "answer"}}';
		document.getElementById("quiz-{{$id}}-submit").addEventListener("click", () => {
			const answer = document.getElementById("quiz-{{$id}}-input").value;
			const hash = cyrb53(answer);
			const next = document.getElementById("quiz-{{$id}}-next");
			if (hash == correctHash) {
				next.style.display = "block";
				next.href = `next/${hash}`;
			} else {
				next.style.display = "none";
			}
		});
	</script>
</div>
